/* :checked {
    color:red;
} */

input:checked + * {
    background-color: green;
}

input:not(:checked) + * {
    background-color: #cf0e0e;
}

input[type="radio"] {
    display: none;
}

label {
    height: 30px;
    width: 30px;
    margin: 3px;
    border-radius: 10%; 
    box-shadow: 2px;
}

input:checked + *:hover {
    background-color: forestgreen;
}

input:not(:checked) + *:hover {
    background-color: crimson;
}
