input:checked + * {
    background-color: #129416;
}

input:not(:checked) + * {
    background-color: #cf0e0e;
}

input[type="radio"] {
    display: none;
}

label {
    height: 30px;
    width: 30px;
    margin: 3px;
    border-radius: 10%; 
    /* box-shadow: 1px 1px #222222; */
}

input:checked + *:hover {
    height: 31px;
    background-color: #119b15;
    transition: 100ms;
}

input:not(:checked) + *:hover {
    height: 31px;
    background-color: #c92c1a;
    transition: 100ms;
}
