#homepage {
    width: 100%;
    height: width;
    margin-left: 10px;
}

.jumbotron {
    left: 0;
    padding: 0px;
    margin-bottom: 0px;
}

.container {
    left: 0;
    margin-top: 0;
}

.logo {
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.view {
    border:0px;
    margin-left: 50px;
    font-size: 20px;
}

#username {
    margin-left: 30px;
    font-size: 20px;
    border: 0px;
}

#user_icon {
    width: 40px;
    height: 40px;
    margin-top: 0;
}

#log_out {
    margin-left: 10px;
    font-size: 20px;
}

#sign_in {
    margin-left: 40px;
    font-size: 20px;
}

#sign_up {
    margin-left: 10px;
    font-size: 20px;
}

body {
    background-color: gold;
}

.profile_img {
    width: 100px;
    height: 100px;
}
