input[type="radio"]:checked + * {
    background-color: #119b15;
}

input[type="radio"]:not(:checked) + * {
    background-color: #cf0e0e;
}

input[type="radio"] {
    display: none;
}

.red-pred {
    background-color: #cf0e0e !important;
}

label {
    height: 30px;
    width: 30px;
    margin: 3px;
    border-radius: 10%;
}

input[type="radio"]:not(:disabled):checked + *:hover {
    background-color: #14a519 !important;
    transition: 100ms;
}

input[type="radio"]:not(:disabled):not(:checked) + *:hover {
    background-color: #d3301e !important;
    transition: 100ms;
}

.red-res {
    margin: 3px;
    border-radius: 10%;
    background-color: #d3301e;
    width: 50px;
    height: 30px;
}

.green-res {
    width: 50px;
    height: 30px;
    margin: 3px;
    border-radius: 10%;
    background-color: #119b15;
}

.gray-res {
    width: 50px;
    height: 30px;
    margin: 3px;
    border-radius: 10%;
    background-color: #252a2e;
}

.title {
    padding: 10px; !important;
}

.bottom-left-zero-radius {
    border-bottom-left-radius: 0 !important;
}

.bottom-right-zero-radius {
    border-bottom-right-radius: 0 !important;
}

.matchday {
    margin-top: 20px;
    margin-bottom: 20px;
}

.crest {
    width: 40px;
}

.no-games {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.load-more-row {
    margin-bottom: 30px;
    margin-top: 10px
}

.load-more-div {
    padding-right: 0;
}
