.image {
    border:4px solid #343A40;
    border-radius: 5%;
}

.image-clicked {
    background-color: #212321 !important;
    border:3px solid goldenrod;
}

.wrapper button {
    background-color: #343A40
}

.wrapper button:hover {
    background-color: #212321;
    transition: 200ms;
}