.container-div {
    margin-top: 50px;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

h1 {
    margin-bottom: 20px;
    padding-top: 15px;
}

.gold-border {
    border: solid gold 0.1em !important;
}

.btn-bold {
    font-weight: bold;
}