{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel = "stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <span class="container content-guest">
        <div class="row">
            <div class="col-xl-4 col-lg-12 text-center">
                <div class="row text-center">
                    <table class="table table-striped table-dark text-center rounded border-zero">
                        <thead>
                            <tr class="text-warning rounded border-zero">
                                <th class="border-zero rounded-left col-5 bottom-left-zero-radius">Home team</th>
                                <th class="border-zero col-2">Result</th>
                                <th class="border-zero rounded-right col-5 bottom-right-zero-radius">Away team</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for live_game in live_games %}
                                <tr>
                                    <td class="col-5">{{ live_game.home_team }}</td>
                                    <td class="col-2">{{ live_game.home_team_score }} : {{ live_game.away_team_score }}</td>
                                    <td class="col-5">{{ live_game.away_team }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="rounded">
                                {% if live_games %}
                                    <td colspan="3" class="text-center justify-content-center rounded-bottom plus-td">
                                        <a class="btn btn-outline-warning plus" href="{% url 'prediction' %}" role="button">+</a>
                                    </td>
                                {% else %}
                                    <td colspan="3" class="text-center justify-content-center text-warning rounded-bottom no-games">
                                        <h5>No live games</h5>
                                    </td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="row text-center">
                    <table class="table table-striped table-dark rounded border-zero">
                        <thead>
                            <tr class="text-warning rounded border-zero">
                                <th class="border-zero rounded-left bottom-left-zero-radius">#</th>
                                <th class="border-zero text-left">Team</th>
                                <th class="border-zero">PG</th>
                                <th class="border-zero">GD</th>
                                <th class="border-zero rounded-right bottom-right-zero-radius">Pts</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for team in teams %}
                                <tr>
                                    <td>{{ team.position}}</td>
                                    <td class="text-left">{{ team.name}}</td>
                                    <td>{{ team.played_games}}</td>
                                    <td>{{ team.goal_difference}}</td>
                                    <td>{{ team.points}}</td>
                                </tr>
                            {% endfor %}

                            <tr class="rounded">
                                <td colspan="5" class="text-center justify-content-center rounded-bottom plus-td">
                                    <a class="btn btn-outline-warning plus" href="{% url 'standings' %}" role="button">+</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-xl-8 col-lg-12 justify-content-center">
                {% for news in latest_news %}
                    <div class="row bg-dark rounded">
                        <div class="row bg-dark text-warning rounded-top news-title">
                            <h1 class="col-12">{{ news.title }}</h1>
                        </div>

                        <div class="row bg-dark text-white rounded-bottom news-shortly">
                            <p class="col-12">{{ news.summary }}</p>
                            <div class="col-12 justify-content-end text-right">
                                <a class="btn btn-warning news-button" href="{% url 'news' news.id %}" role="button">Read more</a>
                                {% if user.is_authenticated %}
                                    {% if user.type == 'moderator' and news.author == user %}
                                        <a class="btn btn-warning news-button" href="update_news.html" role="button">Update</a>
                                        <a class="btn btn-warning news-button" href="deleted_news.html" role="button">Delete</a>
                                    {% elif user.type == 'administrator' %}
                                        <a class="btn btn-warning news-button" href="deleted_news.html" role="button">Delete</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}

                <div class="row">
                    <div class="col text-right buttons">
                        <a class="btn btn-dark text-warning view" href="{% url 'search_news' %}" role="button">More news</a>

                        {% if user.is_authenticated and user.type == 'moderator' %}
                            <a class="btn btn-dark text-warning view" href="{% url 'add_news' %}" role="button">Add news</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </span>
{% endblock %}