{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel = "stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}

{% block content %}
    <div class="container content justify-content-center news-container">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 justify-content-center">
            <div class="row bg-dark rounded">
                <div class="row bg-dark text-warning rounded-top news-title">
                    <h1 class="col-12">{{ news.title }}</h1>
                </div>

                <div class="row bg-dark text-warning rounded-top news-author-date">
                    <h5 class="col-12">{{ author.username }} | {{ news.date_time }}</h5>
                </div>

                <div class="row bg-dark text-white rounded-bottom news">
                    <p class="col-12">{{ news.content }}</p>
                </div>

                <div class="col-12 justify-content-end text-right">
                    {% if user.is_authenticated %}
                        {% if user.type == 'moderator' and news.author == user %}
                            <a class="btn btn-warning news-button" href="{% url 'update_news' news.id %}" role="button">Update</a>
                            <a class="btn btn-warning news-button" href="deleted_news.html" role="button">Delete</a>
                        {% elif user.type == 'administrator' %}
                            <a class="btn btn-warning news-button" href="deleted_news.html" role="button">Delete</a>
                        {% elif user.type == 'user' %}
                            <a class="btn btn-warning news-button" href="{% url 'comment_news' news.id %}" role="button">Comment</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div class="row comments-title">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 offset-xl-4 offset-lg-4 offset-md-3 offset-sm-3 offset-3 text-warning bg-dark rounded text-center">
                    <h1>Comments</h1>
                </div>
            </div>


            {% for comment in comments %}

                {% if comment.comment.comment_reply_id == None %}
                    <div class="row bg-dark rounded comment">

                        <div class="row bg-dark text-white rounded-top comment-text">
                            <p class="col-12">{{ comment.comment.text }}</p>
                        </div>

                        <div class="row bg-dark text-warning rounded-top comment-author-date">
                            <h5 class="col-12">{{ comment.comment.author }} | {{ comment.comment.date_time }}</h5>
                        </div>


                        <div class="col-12 justify-content-end text-right">
                            {% if user.is_authenticated and user.type == 'administrator' %}
                                <a class="btn btn-warning comment-button" href="{% url 'news' news.id %}" role="button">Delete</a>
                            {% elif user.is_authenticated and user.type == 'moderator' %}
                            {% else %}
                                <a class="btn btn-success comment-button" href="{% url 'news' news.id %}" role="button">
                                    <img src="{% static 'images/like.png' %}" class="icon" alt="">
                                    123
                                </a>

                                <a class="btn btn-danger comment-button" href="{% url 'news' news.id %}" role="button">
                                    <img src="{% static 'images/dislike.png' %}" class="icon" alt="">
                                    56
                                </a>

                                {% if user.is_authenticated and user.type != 'moderator' %}
                                    <a class="btn btn-warning comment-button" href="{% url 'reply_comment' comment.comment.id %}" role="button">Reply</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                {% else %}

                    <div class="row bg-dark rounded comment">

                        <div class="row bg-dark text-white rounded-top comment-text">
                            <p class="col-12 comment-text-reply">{{ comment.comment_reply.text }}</p>

                            <h5 class="col-12 bg-dark text-warning">({{ comment.comment_reply.author }} | {{ comment.comment_reply.date_time }})</h5>
                        </div>

                        <div class="row bg-dark text-white rounded-top comment-text">
                            <p class="col-12">{{ comment.comment.text }}</p>
                        </div>

                        <div class="row bg-dark text-warning rounded-top comment-author-date">
                            <h5 class="col-12">{{ comment.comment.author }} | {{ comment.comment.date_time }}</h5>
                        </div>

                        <div class="col-12 justify-content-end text-right">
                            {% if user.is_authenticated and user.type == 'administrator' %}
                                <a class="btn btn-warning comment-button" href="{% url 'news' news.id %}" role="button">Delete</a>
                            {% elif user.is_authenticated and user.type == 'moderator' %}
                            {% else %}
                                <a class="btn btn-success comment-button" href="{% url 'news' news.id %}" role="button">
                                    <img src="{% static 'images/like.png' %}" class="icon" alt="">
                                    123
                                </a>

                                <a class="btn btn-danger comment-button" href="{% url 'news' news.id %}" role="button">
                                    <img src="{% static 'images/dislike.png' %}" class="icon" alt="">
                                    56
                                </a>

                                {% if user.is_authenticated and user.type != 'moderator' %}
                                    <a class="btn btn-warning comment-button" href="{% url 'reply_comment' comment.comment.id %}" role="button">Reply</a>
                                {% endif %}
                            {% endif %}
                        </div>

                    </div>


                {% endif %}

            {% endfor %}

        </div>
    </div>
{% endblock %}
