{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
    <link rel = "stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}
    <div class="container content" style="padding-top: 50px;">
        <div class="row justify-content-center rounded" style="padding-bottom: 50px;">
            <div class="col-xl-7 col-lg-6 col-md-8 col-sm-12 bg-dark rounded" style="padding-bottom: 20px;">
                {% if user.is_authenticated %}
                    <div class="bg-dark rounded text-warning text-center" style="margin-top: 30px; margin-bottom: 10px; font-size: 40px;">
                        {% if messages %}
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        {% endif %}
                    </div>
                {% else %}
                    <div class="bg-dark rounded text-warning text-center" style="margin-top: 30px; margin-bottom: 20px; font-size: 40px;">
                        Registration
                    </div>

                    <div class="bg-dark rounded text-warning text-center">
                        <b> Got an account? </b>
                        <a href="{% url 'sign_in' %}" class="sign-in-link">Sign in</a>
                    </div>

                    <form class="bg-dark rounded" style="padding: 20px;" method="post">
                        <div class="form-group text-left">
                            {{ registration_form.username|as_crispy_field }}
                        </div>
                        <div class="form-group text-left">
                            {{ registration_form.password1|as_crispy_field }}
                        </div>
                        <div class="form-group text-left">
                            {{ registration_form.password2|as_crispy_field }}
                        </div>

                        <div class="text-right" style="margin-top: 20px;">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-warning" style="font-size: 20px" value="Register">
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}