{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel = "stylesheet" href="{% static 'css/standings.css' %}">
{% endblock %}

{% block content %}
    <div class="col-12">
        <br>
        <table class="table table-striped rounded-top table-dark text-center">
            <thead>
                <tr class="text-warning rounded-top">
                    <th class="border-zero rounded-left bottom-left-zero-radius">Position</th>
                    <th class="border-zero text-left">Team</th>
                    <th class="border-zero">Played</th>
                    <th class="border-zero">Won</th>
                    <th class="border-zero">Drawn</th>
                    <th class="border-zero">Lost</th>
                    <th class="border-zero">Goals for</th>
                    <th class="border-zero">Goals against</th>
                    <th class="border-zero">Goal difference</th>
                    <th class="border-zero rounded-right bottom-right-zero-radius">Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    {% if team.position < 5 %}
                        <tr style="border-left: 5px solid blue;">
                    {% elif team.position >= 5 and team.position < 7 %}
                        <tr style="border-left: 5px solid orange;">
                    {% elif team.position >= 7 and team.position < 13 %}
                        <tr style="border-left: 5px solid green;">
                    {% elif team.position > 16%}
                        <tr style="border-left: 5px solid red;">
                    {% else %}
                        <tr>
                    {% endif %}
                        <td>{{ team.position }}</td>
                        <td class="text-left"><img src="{% static team.crest %}" class="crest" alt="">&nbsp;{{ team.name }}</td>
                        <td>{{ team.played_games }}</td>
                        <td>{{ team.won }}</td>
                        <td>{{ team.draw }}</td>
                        <td>{{ team.lost }}</td>
                        <td>{{ team.goals_for }}</td>
                        <td>{{ team.goals_against }}</td>
                        <td>{{ team.goal_difference }}</td>
                        <td>{{ team.points }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12">
        <table class="table rounded-top table-dark ">
            <tr><td><span class="badge" style="background-color: blue">&nbsp;</span> Group stage of Kopa Libertadores<br></tr>
            <tr><td><span class="badge" style="background-color: orange">&nbsp;</span> Qualification for Kopa Libertadores<br></tr>
            <tr><td><span class="badge" style="background-color: green">&nbsp;</span> Group stage of Copa America<br></tr>
            <tr><td><span class="badge" style="background-color: red">&nbsp;</span> Relegation zone<br></tr>
        </table>
    </div>
{% endblock %}
