{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-12 content-guest">
        <br>
        <table class="table table-striped rounded table-dark text-center col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
            <thead>
                <tr class="text-warning rounded-top">
                    <th class="border-zero rounded-left" style="border-bottom-left-radius: 0 !important;">Position</th>
                    <th class="border-zero text-left">Username</th>
                    <th class="border-zero rounded-right" style="border-bottom-right-radius: 0 !important;">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for ranked_user in ranked_users %}
                    <tr>
                        <td>{{ ranked_user.rank }}</td>
                        <td align="left"><img src="{% static 'images/team_66.png' %}" width="40px" alt="">{{ ranked_user.username }}</td>
                        <td>{{ ranked_user.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}