{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel = "stylesheet" href="{% static 'css/user_rang_list.css' %}">
{% endblock %}

{% block content %}
    <div class="col-12 content-guest">
        <br>
        <table class="table table-striped rounded table-dark text-center col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col-md-10 offset-md-1">
            <thead>
                <tr class="text-warning rounded-top">
                    <th class="border-zero rounded-left bottom-left-zero-radius">Position</th>
                    <th class="border-zero text-left">Username</th>
                    <th class="border-zero rounded-right bottom-right-zero-radius">Score</th>
                </tr>
            </thead>
            <tbody>
                {% for ranked_user in ranked_users %}
                    <tr>
                        <td>{{ ranked_user.rank }}</td>
                        <td align="left"><img src="{% static 'images/team_4241.png' %}" class="crest" alt="">&nbsp;{{ ranked_user.username }}</td>
                        <td>{{ ranked_user.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}