{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel = "stylesheet" href="{% static 'css/user_administration.css' %}">
{% endblock %}

{% block content %}
    <div class="container bg-dark rounded container-div">
        <div class="bg-dark rounded text-warning text-center">
            <h1>Moderator list</h1>
        </div>

        <div class="bg-dark rounded-bottom" id="moderator-list">
            <table class="table table-striped table-dark text-center gold-border">
                <tr class="text-warning">
                    <th class="col-3">#</th>
                    <th class="col-3">Username</th>
                    <th class="col-3"></th>
                    <th class="col-3"></th>
                </tr>

                {% for moderator in moderators %}
                    <tr>
                        <td class="col-3">{{ moderator.id }}</td>
                        <td class="col-3">{{ moderator.username }}</td>
                        <td class="col-3">
                            <form method="post" action="{% url 'unmake_moderator' %}">
                                {% csrf_token %}
                                <button class="btn btn-warning btn-bold" type="submit" value="{{ moderator.id }}" name="moderator_id">Unmake moderator</button>
                            </form>
                        </td>
                        <td class="col-3">
                            <form method="post" action="{% url 'delete_moderator' %}">
                                {% csrf_token %}
                                <button class="btn btn-warning btn-bold" type="submit" value="{{ moderator.id }}" name="moderator_id">Delete moderator</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="container bg-dark rounded container-div">
        <div class="bg-dark rounded text-warning text-center">
            <h1>User list</h1>
        </div>

        <div class="bg-dark rounded-bottom">
            <table class="table table-striped table-dark text-center gold-border">
                <tr class="text-warning">
                    <th class="col-3">#</th>
                    <th class="col-3">Username</th>
                    <th class="col-3"></th>
                    <th class="col-3"></th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td class="col-3">{{ user.id }}</td>
                        <td class="col-3">{{ user.username }}</td>
                        <td class="col-3">
                            <form method="post" action="{% url 'make_moderator' %}">
                                {% csrf_token %}
                                <button class="btn btn-warning btn-bold" type="submit" value="{{ user.id }}" name="user_id">Make moderator</button>
                            </form>
                        </td>
                        <td class="col-3">
                            <form method="post" action="{% url 'delete_user' %}">
                                {% csrf_token %}
                                <button class="btn btn-warning btn-bold" type="submit" value="{{ user.id }}" name="user_id">Delete user</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}