{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel = "stylesheet" href="{% static 'css/base.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
    {% block head %}{% endblock %}
    <title>Golden goal</title>
    <link rel="shortcut icon" href="{% static 'images/golden_goal.png' %}" type="image/x-icon">
</head>
<body>
    <div class="jumbotron bg-dark text-warning jumbotron-fluid">
        <span class="container">
            <span class="row">
                <span class="col-xl-1 col-lg-2 col-md-2 col-sm-12 justify-content-center text-center">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'images/golden_goal.png' %}" class="homepage" alt="">
                    </a>
                </span>
                <span class="col-md-10 col-lg-10 col-xl-11 col-sm-12">
                    <span class="row d-none d-xl-block">
                        <a href="https://www.arsenal.com/">
                            <img src="{% static 'images/team_57.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.avfc.co.uk/">
                            <img src="{% static 'images/team_58.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.brentfordfc.com/">
                            <img src="{% static 'images/team_402.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.brightonandhovealbion.com/">
                            <img src="{% static 'images/team_397.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.burnleyfootballclub.com/">
                            <img src="{% static 'images/team_328.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.chelseafc.com/en">
                            <img src="{% static 'images/team_61.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.cpfc.co.uk/">
                            <img src="{% static 'images/team_354.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.evertonfc.com/home">
                            <img src="{% static 'images/team_62.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.leedsunited.com/">
                            <img src="{% static 'images/team_341.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.lcfc.com/">
                            <img src="{% static 'images/team_338.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.liverpoolfc.com/">
                            <img src="{% static 'images/team_64.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.mancity.com/">
                            <img src="{% static 'images/team_65.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.manutd.com/">
                            <img src="{% static 'images/team_66.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.nufc.co.uk/">
                            <img src="{% static 'images/team_67.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.canaries.co.uk/">
                            <img src="{% static 'images/team_68.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.southamptonfc.com/">
                            <img src="{% static 'images/team_340.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.tottenhamhotspur.com/">
                            <img src="{% static 'images/team_73.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.watfordfc.com/">
                            <img src="{% static 'images/team_346.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.whufc.com/">
                            <img src="{% static 'images/team_563.png' %}" class="logo" alt="">
                        </a>

                        <a href="https://www.wolves.co.uk/">
                            <img src="{% static 'images/team_76.png' %}" class="logo" alt="">
                        </a>
                    </span>
                    <div class="row">
                        <div class="col-9 d-none d-xl-block tabs">
                            <a class="btn btn-outline-warning first-view" href='{% url 'results' %}' role="button">Results</a>

                            <a class="btn btn-outline-warning view" href='{% url 'prediction' %}' role="button">Prediction</a>

                            <a class="btn btn-outline-warning view" href='{% url 'standings' %}' role="button">Standings</a>

                            <a class="btn btn-outline-warning view" href='{% url 'scorers' %}' role="button">Scorers</a>

                            <a class="btn btn-outline-warning view" href='{% url 'user_rang_list' %}' role="button">User rang list</a>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-4 col-4 d-xl-none menu-div">
                            <div class="dropdown">
                                <button class="btn btn-warning dropdown-toggle dropdown-button" role="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </button>

                                <div class="dropdown-menu bg-dark text-warning justify-content-begin" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item text-warning bg-dark" href='{% url 'results' %}' role="button">Results</a>

                                    <a class="dropdown-item text-warning bg-dark" href='{% url 'prediction' %}' role="button">Prediction</a>

                                    <a class="dropdown-item text-warning bg-dark" href='{% url 'standings' %}' role="button">Standings</a>

                                    <a class="dropdown-item text-warning bg-dark" href='{% url 'scorers' %}' role="button">Scorers</a>

                                    <a class="dropdown-item text-warning bg-dark" href='{% url 'user_rang_list' %}' role="button">User rang list</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 d-xl-block d-none text-right user-div-xl">
                            {% if user.is_authenticated %}
                                <a class="btn btn-outline-warning username" style="padding: 5px;" href="{% url 'user_profile' %}" role="button">
                                    <img src="{% static 'images/team_66.png' %}" class="user_icon" alt="">
                                    {{ user.username }}
                                    {% if user.type != 'administrator' %}
                                        {% if user.presents == 0 %}
                                            <span class="badge bg-success">{{ user.presents }}</span>
                                        {% else %}
                                            <span class="badge bg-danger">{{ user.presents }}</span>
                                        {% endif %}
                                    {% endif %}
                                </a>

                                <a class="btn btn-warning log_out" href="{% url 'log_out' %}" role="button">Logout</a>
                            {% else %}
                                <a class="btn btn-outline-warning sign_in" href="sign_in.html" role="button">Sign in</a>

                                <a class="btn btn-warning sign_up" href="sign_up.html" role="button">Sign up</a>
                            {% endif %}
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-8 col-8 d-xl-none text-right user-div">
                            {% if user.is_authenticated %}
                                <a class="btn btn-outline-warning username" href="{% url 'user_profile' %}" role="button">
                                    <img src="{% static 'images/team_66.png' %}" class="user_icon" alt="">
                                    {{ user.username }}
                                    {% if user.type == administrator %}
                                        {% if user.presents == 0 %}
                                            <span class="badge bg-success">{{ user.presents }}</span>
                                        {% else %}
                                            <span class="badge bg-danger">{{ user.presents }}</span>
                                        {% endif %}
                                    {% endif %}
                                </a>

                                <a class="btn btn-warning log_out" href="{% url 'log_out' %}" role="button">Logout</a>
                            {% else %}
                                <a class="btn btn-outline-warning sign_in" href="sign_in.html" role="button">Sign in</a>

                                <a class="btn btn-warning sign_up" href="sign_up.html" role="button">Sign up</a>
                            {% endif %}
                        </div>
                    </div>
                </span>
            </span>
        </span>
    </div>

    {% block content %}
        Base content
    {% endblock %}

    <div class="row bg-dark footer">
        <div class="col bg-dark text-center text-warning footer-text">
            <h5>Gang of Four &copy; 2022</h5>
        </div>
    </div>
</body>
</html>